*{border:1px solid #ccc}
*{padding:0px;margin:0px;}

a{text-decoration:none;color:#000}
a:active{color:#000}

.navigation{position:fixed;width:100%;height:100px;z-index:9999;display:block;box-sizing:border-box;padding:15px;box-shadow:0px 0px 15px 0px #ccc;background-color:#fff;}


.navigation .logo{width:100px;height:calc(100px - 15px * 2);display:block;float:left;position:relative;}
.navigation .logo img{width:100%;height:auto;position:absolute;top:0;left:0;}


.navigation .menu{float:right;display:block;width:auto;height:calc(100px - 15px * 2);font-size:16px;box-sizing:border-box;padding-top:15px;}
.navigation .menu .item{display:inline-block;margin-right:15px;width:50px;text-align:center;height:40px;line-height:40px;position:relative;cursor:pointer;}
.navigation .menu .item:last-child{margin-right:0px;}
.navigation .menu .item:after{content:'';width:100%;height:3px;background-color:#000;position:absolute;bottom:0;left:0;opacity:0;transition:.3s;}
.navigation .menu .item:hover:after{opacity:1;}
.navigation .menu .item a{color:#818181;}
.navigation .menu .item:hover a{color:#842e23;}


.navigation .humber{width:35px;height:35px;float:right;margin-top:0px;display:flex;justify-content:center;align-items:center;flex-wrap:wrap;display:none;}
.navigation .humber .line{width:100%;height:4px;background-color:#842e23;z-index:99999;}
.navigation .nav_shadow{width:100%;background-color:rgba(0,0,0,0.9);position:fixed;top:0;left:0;display:flex;flex-wrap:wrap;box-sizing:border-box;align-items:center;padding:50px 0px;display:none;}
.navigation .nav_shadow .item{width:100%;height:50px;text-align:center;line-height:50px;cursor:pointer;}
.navigation .nav_shadow .item a{color:#842e23;}


.container{width: 100%;display: block;box-sizing: border-box;padding-top: 98px}
.container .row:nth-child(1){display: flex;align-items: center;justify-content: center;}
.container .row .imgHolder{width: 300px;height: 300px;display: block;margin: 15px;overflow:hidden;}
.container .row .imgHolder img{width:100%;height:auto;}
.container .row .icon{height: 50px;width: 50px;cursor: pointer;}
.container .row .icon img{width:100%;height:100%;}
.container .row .next{margin-left: 15px;}
.container .row .prev{margin-right: 15px;}
.container .row .title{width: 100%;text-align: center;display: block;font-size: 24px;font-weight: bold;text-transform: uppercase;}
.container .row .title ul li span{width: 30px;height: 30px;display: background-color: #842e23;vertical-align: top;margin-right: 10px;}
.container .row .title ul li{line-height: 20px;font-style: 18px;height: 20px;display: inline-block;background-color: #842e23;vertical-align: top;margin-right: 10px;}
.container .row .title ul li audio{display: block;}
.container .row .title ul li p{display: block;}


@media(max-width: 576px){
.navigation .menu{display:none;}
.navigation .humber{display:flex;}
.navigation{height:70px;}
.navigation .logo{width:60px;height:calc(60px - 15px * 2)};




}
